<div class="container">
  <div class="Title">
    <h1>Chord Machine</h1>
  </div>
  <div class="Manual Tile" (click)="alert('test')">
    <div class="Heading">
      <h2>Manueller Modus</h2>
    </div>
    <div class="Icon1">
      <mat-icon svgIcon="music"></mat-icon>
    </div>
    <div class="Icon2">
      <mat-icon svgIcon="guitar-acoustic"></mat-icon>
    </div>
  </div>
  <div class="Songs Tile">
    <div class="Heading2">
      <h2>Gespeicherte Songs</h2>
    </div>
    <div class="Icon3">
      <mat-icon svgIcon="playlist-music"></mat-icon>
    </div>
    <div class="Icon4">
      <mat-icon svgIcon="pencil-box-multiple-outline"></mat-icon>
    </div>
  </div>
</div>
