.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Back Title ."
    "List List List";
}

.Title {
  grid-area: Title;
  text-align: center;
}

.Back {
  grid-area: Back;
  display: flex;
  justify-content: center;
  align-items: center;
}

.List {
  grid-area: List;
}

mat-tree {
  min-height: 80vh;
  max-height: 80vh;
  margin: 12px 5% auto 5%;
  border-radius: 10px;
  border: black solid 1px;
  background: lightgrey;
  overflow-y: auto;
}

mat-tree-node {
  font-size: 30px;
}

mat-tree-node:not(:last-child) {
  border-bottom: black solid 1px;
}
